.todoitem {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 50%;
    gap: 100px;
}
small{
    font-weight: bold;
}
.todoitem .details{
    display: flex;
    flex-direction: column;
}
.todoitem .operation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.todoitem input{
    font-size: 20px ;
    
}