form h1{
    width: 100%;
    text-align: center;
     padding: 10px;
    text-transform: capitalize;
    box-sizing: border-box;

}
form{
    width: 80%;
    padding: 50px;
    text-transform: capitalize ;
    display: flex;
    flex-direction: column;
    margin: auto;

}
input,label{
    padding: 10px;
}