<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embeded js page</title>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <p>This is a simple example of an embedded JavaScript page using EJS.</p>
    <p>user : <%= name %></p>
    <p>Age :<%= age%></p>
    <!-- use partial data  -->
     <%- include('../partial/data.ejs') %> 
</body>
</html>